.footer
	background #fff
	padding 20px 10px
	&__menu
		margin-bottom 20px
		.menu
			justify-content space-between
	&__line
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items flex-end
	&__logo
		max-width 100px