mixin logo(currentPageTitle, className)
  mixin wrapLogo(currentPageTitle)
    if (currentPageTitle == 'Главная страница')
      div.logo(class=`${className}__logo`)
          block
    else
      a(href="/main.html" class=`${className}__logo`).logo
        block
  +wrapLogo(currentPageTitle)
    img(src="./template/images/logo.png" alt="" title="")


mixin form()
  form.form&attributes(attributes)
    block

mixin fieldset(legend, mods)
  fieldset.form__fieldset&attributes(attributes)
    legend.form__legend!= legend
    block

mixin field-text(props)
  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

  label.field-text&attributes(attributes)

    if (typeof(props.title) !== 'undefined' && props.title)
      span.field-text__name!= props.title

    span.field-text__input-wrap
      if (typeof(props.isTextarea) !== 'undefined' && props.isTextarea)
        textarea.field-text__input&attributes(props.attrs)= props.val

      else
        input.field-text__input(type=(typeof(props.attrs) !== 'undefined' && props.attrs.type) ? props.attrs.type : 'text', value=props.val)&attributes(props.attrs)

      if (typeof(props.helpText) !== 'undefined' && props.helpText)
        span.field-text__help-text!= props.helpText
      block

    if props.changed
      span.field-text__change Изменить

mixin field-checkbox(checkboxes, title)
  .field-checkbox&attributes(attributes)

    if (typeof(title) !== 'undefined' && title)
      .field-checkbox__title!= title

    each checkbox in checkboxes
      .field-checkbox__input-wrap
        label.field-checkbox__name
          input.field-checkbox__input(type='checkbox')&attributes(checkbox.attrs)
          span.field-checkbox__name-text!= checkbox.title

        if (typeof(checkbox.helpText) !== 'undefined' && checkbox.helpText)
          .field-checkbox__help-text-wrap
            .field-checkbox__help-text!= checkbox.helpText

mixin field-radio(radiobuttons, title)

  .field-radio&attributes(attributes)

    .field-radio__change Изменить

    if(typeof(title) !== 'undefined' && title)
      .field-radio__title!= title

    each checkbox in radiobuttons
      .field-radio__input-wrap
        label.field-radio__name
          input.field-radio__input(type='radio')&attributes(checkbox.attrs)
          span.field-radio__name-text!= checkbox.title

        if (typeof(checkbox.helpText) !== 'undefined' && checkbox.helpText)
          .field-radio__help-text-wrap
            .field-radio__help-text!= checkbox.helpText

    a.field-radio__add-address-btn(href='#additional') Добавить еще один адрес
    #additional.additional-address
      p.additional-address__title Добавить адрес
      .additional-address__group
        +field-text({
          attrs: {
            placeholder: 'Индекс',
            type: 'text'
          }
        })
        +field-text({
          attrs: {
            placeholder: 'Страна',
            type: 'text'
          }
        })
        +field-text({
          attrs: {
            placeholder: 'Город',
            type: 'text'
          }
        })
      .additional-address__group
        +field-text({
          attrs: {
            placeholder: 'Адрес',
            type: 'text'
          }
        })
      btn.additional-address__close-btn(type='button') Добавить адрес
