extends ./modules/layout/layout
block vars
  -var currentPageTitle = "Главная страница"

block title
  title=currentPageTitle

block block-content
  include ../images/sprite-svg.svg
  .wrapper
    h1.wrapper__title Мои настройки
    +form()

      +fieldset('Личные данные')
        +field-text({
          changed: true,
          attrs: {
            placeholder: 'Имя',
            type: 'text',
            readonly: 'readonly'
          }
        })
        +field-text({
          changed: true,
          attrs: {
            placeholder: 'Фамилия',
            type: 'text',
            readonly: 'readonly'
          }
        })
        +field-text({
          changed: true,
          attrs: {
            placeholder: 'Отчество',
            type: 'text',
            readonly: 'readonly'
          }
        })
        +field-text({
          changed: true,
          attrs: {
            placeholder: 'Дата рождения',
            type: 'date',
            readonly: 'readonly'
          }
        })

      +fieldset('Контактные данные')
        +field-text({
          changed: true,
          attrs: {
            placeholder: 'Телефон',
            type: 'tel',
            readonly: 'readonly'
          }
        })
        +field-text({
          changed: true,
          attrs: {
            placeholder: 'E-mail',
            type: 'email',
            readonly: 'readonly'
          }
        })
        +field-text({
          changed: true,
          attrs: {
            placeholder: 'Пароль',
            type: 'password',
            readonly: 'readonly'
          }
        })

      +fieldset('Адресная книга')
        +field-radio([
          {
            title: '432 071 Россия, г. Троицк, ул. Ленина д.34. кв.54',
            attrs: {
              name: 'radio',
              checked: true,
            }
          },
          {
            title: '445 086 Россия, г. Керчь, ул. Первого Интернационала д.14. кв.6 ',
            attrs: {
              name: 'radio',
            }
          },
        ], 'Текущий адрес доставки')
      +fieldset('Подписки и уведомления')
        +field-checkbox([
          {
            title: 'Оповещать меня о текущих акциях по e-mail',
            attrs: {
              name: 'check1',
            }
          },
        ])
        +field-checkbox([
          {
            title: 'Оповещать меня о текущих акциях по sms',
            attrs: {
              name: 'check2',
            }
          },
        ])