// sprite mixin

spriteWidth($sprite)
	width: $sprite[4]

spriteHeight($sprite)
	height: $sprite[5]

spritePosition($sprite)
	background-position: $sprite[2] $sprite[3]

spriteImage($sprite)
	background-image: url(./images/$sprite[8])

sprite($sprite)
	if !match('hover', selector()) && !match('active', selector())
		spriteImage($sprite)
	spritePosition($sprite)
	spriteWidth($sprite)
	spriteHeight($sprite)

// Base mixin
// ...