/*

a — Arial Regular
b — Arial Italic
c — Arial Bold
d — Arial Bold Italic
e — Georgia Regular
f — Georgia Italic
g — Georgia Bold
h — Georgia Bold Italic
i — Tahoma Regular
j — Tahoma Bold
k — Times Regular
l — Times Italic
m — Times Bold
n — Times BoldItalic
o — Lucida Sans
p — Lucida Sans Bold
q — Verdana Regular
r — Verdana Italic
s — Verdana Bold
t — Verdana Bold Italic
u — Futura
v — Trump Mediaeval
w — ITC Studio Script

*/
@font-face
	font-family: 'rouble'
	src: url('fonts/rouble/rouble-webfont.eot')
	src: url('fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/rouble/rouble-webfont.woff') format('woff'),
			url('fonts/rouble/rouble-webfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

.rouble,
.rub
	font-family:'rouble'
	font-weight: inherit
	font-style: inherit

fontBase()
	font-family Arial, Verdana, sans-serif
