.form

	&__fieldset
		margin-bottom 2rem

	&__legend
		font-size 1.25rem
		margin-bottom 1rem

.field-text
	display block
	border 1px solid lightgray
	position relative
	padding 0.5rem 1rem

	&.is-active
		background-color lightgray

		.field-text__change
			color orange

	&:not(:last-child)
		border-bottom 0

	&__input-wrap
		padding 0

	&__input
		padding 0
		max-width 20rem
		line-height 2em
		padding 0 0.5rem

	&__change {
		position absolute
		right 1rem
		top 0.75rem
		cursor pointer
		text-align center
		text-transform lowercase
		text-decoration underline
	}

.field-checkbox
	display block
	margin-bottom 1rem

	&__title
		display block
		font-size 1rem
		margin-bottom 0.5rem

	&__name
		position relative
		display inline-block
		padding-left 1.75rem
		margin-right 0.6rem
		cursor pointer

	&__name-text
		display inline-block

		&::before
			content ''
			position absolute
			top 0
			left 0
			width 1rem
			height 1rem
			border 1px solid lightgray

		&::after
			content ''
			position absolute
			top 3px
			left 3px
			width 10px
			height 6px
			opacity 0
			border-left 2px solid currentColor
			border-bottom 2px solid currentColor
			transform rotate3d(0,0,1,-45deg)
			transition opacity 0.3s
			box-shadow 1px 2px 0 #fff, inset 0 -2px 0 #fff

	&__input
		position absolute
		top 0.7em
		left 0
		padding 0
		margin 0
		transform translate3d(0,-50%,0)
		opacity 0

		&:checked ~ .field-checkbox__name-text::after
			opacity 1

.field-radio
	display block
	margin-bottom 1rem
	position relative

	&__change
		position absolute
		top 0
		right 1rem
		text-decoration underline
		text-transform lowercase

	&__add-address-btn
		position relative
		display inline-block
		background-color lightgray
		color white
		margin-top 2rem
		padding 1rem 2rem
		cursor pointer

	&__title
		display block
		margin-bottom 1rem
		font-size 1rem

	&__input-wrap

		& + &
			margin-top 1rem

	&__name
		position relative
		display inline-block
		padding-left 2rem
		margin-right 0.5rem
		cursor pointer

	&__name-text
		display inline-block

		&::before
			content ''
			position absolute
			top 0
			left 0
			width 1rem
			height 1rem
			border 1px solid lightgray
			border-radius 50%

		&::after
				content: '';
				position: absolute;
				top: 0.55rem;
				left: 0.55rem;
				width: 10px;
				height: 10px;
				opacity: 0;
				border-radius: 50%;
				background-color: currentColor;
				transition: opacity 0.25s;
				transform: translate3d(-50%,-50%,0);

	&__input
		position absolute
		top 0.8em
		left 0
		padding 0
		margin 0
		transform translate3d(0,-50%,0)
		opacity 0

		&:checked ~ .field-radio__name-text::after
			opacity 1

.additional-address
	display none
	background-color lightgray
	margin-top 2rem

	@media (min-width 600px)
		padding 1rem

	&__title {
		padding 0.5rem 1rem
	}

	&__group
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content space-between

		@media (min-width 600px)
			flex-direction row

		.field-text
			flex 1 0 auto

			&__input
				max-width none

	&__close-btn
		position relative
		display inline-block
		background-color orange
		color white
		margin 1rem
		padding 1rem 2rem
		cursor pointer

	&--is-active
		display block