.header
	background #fff
	padding 10px
	margin-bottom 20px
	&__wrapper
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center
	&__logo
		max-width 150px
	&__menu
		flex-grow 1